<div class="ui basic segment" style="padding-top: 0;">
  <h2 class="ui header">
    <div class="sub header">
      <div class="ui huge breadcrumb">
        <div class="section" *ngIf="this.service.activeView.lesson.id > 0">
          {{this.service.lessons[this.service.activeView.lesson.id].name}}
        </div>
        <i class="right angle icon divider" *ngIf="this.service.activeView.exercise.id > 0"></i>
        <div class="section" *ngIf="this.service.activeView.exercise.id > 0">
          {{this.service.exercises[this.service.activeView.exercise.id].name}}
        </div>
        <i class="right angle icon divider" *ngIf="this.service.activeView.page.id > 0"></i>
        <div class="section" *ngIf="this.service.activeView.page.id > 0">
          {{this.service.pages[this.service.activeView.page.id].name}}
        </div>
      </div>
    </div>
  </h2>
</div>
