<div class="field">
  <label>Use asset from</label>
  <div class="ui two fluid buttons file-source-buttons">
    <button class="ui yellow basic button use-asset">Library</button>
    <div class="or"></div>
    <button class="ui primary basic button use-uploaded">Local upload</button>
  </div>
</div>

<div class="equal width fields">
  <div class="field disabled asset-options">
    <div class="ui fluid search asset-search">
      <div class="ui icon input">
        <input class="asset-name prompt" type="text" placeholder="Search assets...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>

  <div class="field disabled uploaded-options">
    <div class="ui action input">
      <input type="text" readonly value="Select a file..." class="uploader-select">
      <button class="ui teal right labeled icon button uploader-submit">
        <i class="upload icon"></i>
        Upload
      </button>
    </div>
  </div>
</div>
