<div class="ui three stackable cards">
  <a class="ui card" href="javascript:void(0)" data-mode="text">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/text.png">
      <div class="header">Text</div>
      <div class="description">
        <p>Rich text using the builtin editor.</p>
      </div>
    </div>
  </a>
  <a class="ui card" href="javascript:void(0)" data-mode="slide">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/slide.png">
      <div class="header">Slide</div>
      <div class="description">
        <p>An image or HTML file.</p>
      </div>
    </div>
  </a>
  <a class="ui card" href="javascript:void(0)" data-mode="video">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/video.png">
      <div class="header">Video</div>
      <div class="description">
        <p>A video from local or the Internet.</p>
      </div>
    </div>
  </a>
  <a class="ui card" href="javascript:void(0)" data-mode="question">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/question.png">
      <div class="header">Question</div>
      <div class="description">
        <p>A question that allows student submission.</p>
      </div>
    </div>
  </a>
  <a class="ui card" href="javascript:void(0)" data-mode="video, question">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/video-question.png">
      <div class="header">Video and question</div>
      <div class="description">
        <p>A question that allows student submission, after watching a video.</p>
      </div>
    </div>
  </a>
  <a class="ui card" href="javascript:void(0)" data-mode="video, waveform">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/video-waveform.png">
      <div class="header">Video and waveform</div>
      <div class="description">
        <p>A video with its sound marked into clips.</p>
      </div>
    </div>
  </a>
</div>
