<div class="ui three top attached steps">
  <a class="active step">
    <i class="truck icon"></i>
    <div class="content">
      <div class="title">Events</div>
      <div class="description">Config the action sequence</div>
    </div>
  </a>
  <a class="step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">Content</div>
      <div class="description">Choose from a template</div>
    </div>
  </a>
  <a class="step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">Extras</div>
      <div class="description">Enter directions, notes, etc.</div>
    </div>
  </a>
</div>

<div class="ui attached basic segment" id="step-content-wrapper">
  <!-- Step One -->
  <div class="step-content">
    <wat-qedit-events-picker></wat-qedit-events-picker>

    <div class="ui form" id="events-options" style="display: none;">
      <wat-qedit-record></wat-qedit-record>

      <button class="ui primary button q-save-button disabled">
        Save
      </button>
      <button class="ui button" id="step-1-reset">
        Start over
      </button>
    </div>
  </div>

  <!-- Step Two -->
  <div class="step-content" style="display: none;">
    <wat-qedit-content-picker></wat-qedit-content-picker>

    <div class="ui form" id="content-options" style="display: none;">
      <div class="field" style="display: none;">
        <wat-qedit-rich-editor></wat-qedit-rich-editor>
      </div>

      <div class="field" style="display: none;">
        <wat-qedit-asset-uploader></wat-qedit-asset-uploader>
      </div>

      <div class="field" style="display: none;">
        <wat-qedit-asset-uploader></wat-qedit-asset-uploader>
      </div>

      <div class="field" style="display: none;">
        <wat-qedit-qna></wat-qedit-qna>
      </div>

      <button class="ui primary button q-save-button disabled">
        Save
      </button>
      <button class="ui button" id="step-2-reset">
        Start over
      </button>
    </div>
  </div>

  <!-- Step Three -->
  <div class="step-content" style="display: none;">
    <div class="ui form" id="extra-options">
      <div class="field">
        <wat-qedit-extra></wat-qedit-extra>
      </div>

      <button class="ui primary button q-save-button disabled">
        Save
      </button>
    </div>
  </div>
</div>
