<div class="ui three top attached steps">
  <a class="active step">
    <i class="truck icon"></i>
    <div class="content">
      <div class="title">Recording mode</div>
      <div class="description">Choose a recording mode</div>
    </div>
  </a>
  <a class="step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">Content</div>
      <div class="description">Choose from a template</div>
    </div>
  </a>
  <a class="step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">Extras</div>
      <div class="description">Enter directions, notes, etc.</div>
    </div>
  </a>
</div>

<div class="ui attached basic segment" id="step-content-wrapper">
  <!-- Step One -->
  <div class="step-content">
    <wat-mode-list></wat-mode-list>

    <div class="ui form" id="mode-options" style="display: none;">
      <wat-exercise-edit-record></wat-exercise-edit-record>

      <button class="ui primary button">
        Save
      </button>
      <button class="ui button" id="step-1-reset">
        Start over
      </button>
    </div>
  </div>

  <!-- Step Two -->
  <div class="step-content" style="display: none;">
    <wat-template-list></wat-template-list>

    <div class="ui form" id="template-options" style="display: none;">
      <div class="field" style="display: none;">
        <wat-exercise-edit-rich-editor></wat-exercise-edit-rich-editor>
      </div>

      <div class="field" style="display: none;">
        <wat-exercise-edit-slide-uploader></wat-exercise-edit-slide-uploader>
      </div>

      <div class="field" style="display: none;">
        <wat-exercise-edit-video-uploader></wat-exercise-edit-video-uploader>
      </div>

      <div class="field" style="display: none;">
        <wat-exercise-edit-qna></wat-exercise-edit-qna>
      </div>

      <button class="ui primary button">
        Save
      </button>
      <button class="ui button" id="step-2-reset">
        Start over
      </button>
    </div>
  </div>

  <!-- Step Three -->
  <div class="step-content" style="display: none;">
    <div class="ui form" id="extra-options">
      <div class="field">
        <wat-exercise-edit-extra></wat-exercise-edit-extra>
      </div>

      <button class="ui primary button">
        Save
      </button>
    </div>
  </div>
</div>
