<div class="field" [hidden]="!this.isAvailable()">
  <div class="field">
    <label>Record for</label>
    <div class="ui two fluid buttons" id='record-length-buttons'>
      <button class="ui orange button" [ngClass]="this._value['isFixed'] === true ? '' : 'basic'" (click)="this.toggleMode(true)" id='use-record-fixed'>Fixed length</button>
      <div class="or"></div>
      <button class="ui teal button" [ngClass]="this._value['isFixed'] === false ? '' : 'basic'" (click)="this.toggleMode(false)" id='use-record-variable'>Variable length</button>
    </div>
  </div>

  <div class="equal width fields">
    <div class="field" id='record-fixed' [ngClass]="this._value['isFixed'] === true ? '' : 'disabled'">
      <div class="equal width fields">
        <div class="field">
          <div class="ui right labeled input">
            <input type="text" name="length" [value]="this._value['length']" (input)="this.updateLength($event.target.value)">
            <div class="ui basic label">
              seconds
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field" id='record-variable' [ngClass]="this._value['isFixed'] === false ? '' : 'disabled'">
      <div class="equal width fields">
        <div class="field">
          <div class="inline fields" style="height: 38px; margin: 0;">
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="length-var" [attr.checked]="this._value['length-var'] === 'thisQuestion' ? '' : null" tabindex="0" (change)="this.updateLengthVar('thisQuestion')">
                <label>This sound</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="length-var" [attr.checked]="this._value['length-var'] === 'nextQuestion' ? '' : null" tabindex="0" (change)="this.updateLengthVar('nextQuestion')">
                <label>Next sound</label>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="ui labeled input">
            <div class="ui basic label">
              x (Multiplier)
            </div>
            <input type="text" name="multiplier" [value]="this._value['length-multiplier']" (input)="this.updateLengthMultiplier($event.target.value)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field" [hidden]="!this.isAvailable()">
  <a class="ui orange circular label" (click)="this.debug()">!</a>
</div>
