<div class="ui attached basic segment" style="background-color: #F8F8F8; padding-bottom: 0; border-top: none; border-left: none; border-right: none; margin-left: 0;">
  <div class="ui search" *ngIf="false">
    <div class="ui fluid icon input">
      <input type="text" placeholder="Search..." style="border-radius: 500rem;">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>

  <div class="ui secondary pointing fluid two item menu">
    <a class="active item">
      Collection
    </a>
    <a class="item" *ngIf="false">
      History
    </a>
  </div>

  <div class="ui icon secondary menu" *ngIf="this.viewName === 'editor'">
    <div class="right menu">
      <a class="item" id="exercise-create" (click)="this.createExerciseClick()">
        <i class="folder outline icon"></i>
      </a>
      <a class="item" id="page-create" (click)="this.createPageClick()" *ngIf="this.service.editor.exercise.id > 0">
        <i class="circle thin icon"></i>
      </a>
      <a class="item" id="collection-edit" (click)="this.editCollectionClick()" *ngIf="this.service.editor.exercise.id > 0 || this.service.editor.page.id > 0">
        <i class="edit icon"></i>
      </a>
      <a class="item" id="collection-delete" (click)="this.deleteCollectionClick()" *ngIf="this.service.editor.exercise.id > 0 || this.service.editor.page.id > 0">
        <i class="trash outline red icon"></i>
      </a>
    </div>
  </div>
</div>

<div class="ui attached basic segment" style="height: calc(50% - 80px); border-left: none; border-right: none;">
  <div class="ui fluid vertical buttons" id="exercise-list">
    <a *ngFor="let exercise of this.getExercises()" class="ui basic button" [ngClass]="this.service.editor.exercise.id === exercise.id && this.service.editor.page.id < 1 ? 'primary' : ''" id="exercise-list-e-{{exercise.id}}" (click)="this.showExercise(exercise.id)">
      <i class="folder outline icon"></i>
      <span>{{exercise.name}}</span>
    </a>
  </div>
</div>

<div class="ui attached basic segment" style="height: calc(50% - 81px); border: none;">
  <div class="ui fluid vertical buttons" id="page-list">
    <a *ngFor="let page of this.getPages()" class="ui basic button" [ngClass]="this.service.editor.page.id === page.id ? 'primary' : ''" id="page-list-p-{{page.id}}" (click)="this.showPage(page.id)">
      <i class="circle thin icon"></i>
      <span *ngIf="!page.isSynced()">*</span><span>{{page.name}}</span>
    </a>
  </div>
</div>
