<div class="ui three stackable cards">
  <a class="ui card" href="javascript:void(0)">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/play.png">
      <div class="header">Listen</div>
      <div class="description">
        <p>A voice instruction or teacher's recording.</p>
      </div>
    </div>
  </a>
  <a class="ui card" href="javascript:void(0)">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/record.png">
      <div class="header">Record</div>
      <div class="description">
        <p>Student's recording.</p>
      </div>
    </div>
  </a>
  <a class="ui card" href="javascript:void(0)">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/record.png">
      <div class="header">Listen then record</div>
      <div class="description">
        <p>A voice instruction or teacher's recording, followed by student's recording.</p>
      </div>
    </div>
  </a>
</div>
