<div class="ui three stackable cards">
  <a class="ui card" href="javascript:void(0)" data-mode="text">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/text.png">
      <div class="header">Text</div>
    </div>
  </a>
  <a class="ui card" href="javascript:void(0)" data-mode="image">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/slide.png">
      <div class="header">Image</div>
    </div>
  </a>
  <a class="ui card" href="javascript:void(0)" data-mode="video">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/templates/video.png">
      <div class="header">Video</div>
    </div>
  </a>
</div>
