<wat-pedit-content-picker [hidden]="!this.isAvailable()" [value]="this._value['mode']" (change)="toggleMode($event)">
</wat-pedit-content-picker>

<div class="ui form" id="content-options" [value]="this._value['text']" (change)="updateText($event)" [hidden]="!this.isAvailable()">
  <div class="field">
    <wat-pedit-rich-editor [value]="this._value['text']" (change)="updateText($event)" [hidden]="this.mode !== 'text'"></wat-pedit-rich-editor>
  </div>

  <div class="field">
    <wat-asset-uploader [value]="this._value['image']" (change)="updateImage($event)" [path]="this.service.getEditorPath()" [hidden]="this.mode !== 'image'"></wat-asset-uploader>
  </div>

  <div class="field">
    <wat-asset-uploader [value]="this._value['video']" (change)="updateVideo($event)" [path]="this.service.getEditorPath()" [hidden]="this.mode !== 'video'"></wat-asset-uploader>
  </div>

  <button class="ui primary button q-save-button disabled">
    Save
  </button>
  <button class="ui button" id="text-module-reset">
    Start over
  </button>
</div>

<div class="field" [hidden]="!this.isAvailable()">
  <a class="ui yellow circular label" (click)="this.debug()">!</a>
</div>
