<div class="field" [hidden]="!this.isAvailable()">
  <div class="ui three fluid buttons">
    <button class="ui primary button" [ngClass]="this._value.type !== 0 ? 'basic' : null" (click)="this.toggleMode(0)">
      Short answer
    </button>
    <button class="ui primary button" [ngClass]="this._value.type !== 1 ? 'basic' : null" (click)="this.toggleMode(1)">
      Filling blanks
    </button>
    <button class="ui primary button" [ngClass]="this._value.type !== 2 ? 'basic' : null" (click)="this.toggleMode(2)">
      Multiple choice
    </button>
  </div>
</div>

<div class='q-option' [hidden]="!this.isAvailable() || this._value['type'] !== 0">
  <div class="field">
    <label>Question</label>
    <textarea rows="2" [value]="this._value['question']" (input)="this.updateQ($event.target.value)"></textarea>
  </div>
  <div class="field">
    <label>Answer key</label>
    <textarea rows="2" [value]="this._value['answer']" (input)="this.updateA($event.target.value)"></textarea>
  </div>
</div>

<div class='q-option' [hidden]="!this.isAvailable() || this._value['type'] !== 1">
  <div class="field">
    <label>Question</label>
    <textarea rows="2" [value]="this._value['question']" (input)="this.updateQ($event.target.value)"></textarea>
  </div>
  <div class="field">
    <label>Full text</label>
    <textarea rows="2" [value]="this._value['answer']" (input)="this.updateA($event.target.value)" placeholder="Enter the full text, then for any blank to fill, wrap around with '[' and ']' on each side."></textarea>
  </div>
</div>

<div class='q-option' [hidden]="!this.isAvailable() || this._value['type'] !== 2">
  <div class="field">
    <label>Question</label>
    <textarea rows="2" [value]="this._value['question']" (input)="this.updateQ($event.target.value)"></textarea>
  </div>

  <div class="field">
    <label>Choices</label>
    <div class="ui basic icon buttons">
      <button class="ui green basic button" (click)="this.handleChoices('insert above')" data-tooltip="Insert">
        <i class="plus icon"></i>
      </button>
      <button class="ui primary basic button" *ngIf="this.activeChoice > 0" (click)="this.handleChoices('move up')" data-tooltip="Move up">
        <i class="chevron up icon"></i>
      </button>
      <button class="ui primary basic button" *ngIf="this._value['choices'] && this._value['choices'].length > this.activeChoice + 1" (click)="this.handleChoices('move down')" data-tooltip="Move down">
        <i class="chevron down icon"></i>
      </button>
      <button class="ui red basic button" *ngIf="this._value['choices'] && this._value['choices'].length > 1" (click)="this.handleChoices('remove')" data-tooltip="Remove">
        <i class="minus icon"></i>
      </button>
    </div>
  </div>

  <div class="field" id="mc-choices">
    <div *ngFor="let choice of this._value['choices']; let i = index" class="field">
      <div class="ui action input">
        <input type="text" [value]="choice.value" (click)="this.updateActiveChoice(i)" (input)="updateChoice(i, undefined, $event.target.value, undefined)">
        <button class="ui icon button" (click)="updateChoice(i, !choice.isCorrect)">
          <i class="green checkmark icon" *ngIf="choice.isCorrect"></i>
          <i class="red remove icon" *ngIf="!choice.isCorrect"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="ui basic icon buttons">
      <button class="ui green basic button" (click)="this.handleChoices('insert below')" data-tooltip="Insert">
        <i class="plus icon"></i>
      </button>
    </div>
  </div>
</div>

<div class="field" [hidden]="!this.isAvailable()">
  <!-- <a class="ui orange circular label" (click)="this.debug()">!</a> -->
</div>
