<div class="field" [hidden]="!this.isAvailable()">
  <label>Q&amp;A type</label>
  <div class="ui selection dropdown" id="qna-type-dropdown">
    <input type="hidden" name="q-type" [value]="this._value.type">
    <i class="dropdown icon"></i>
    <div class="default text">Choose an option</div>
    <div class="menu">
      <div class="item" data-value="0">Short answer</div>
      <div class="item" data-value="1">Filling blanks</div>
      <div class="item" data-value="2">Multiple choice</div>
    </div>
  </div>
</div>

<div class='q-option' id='q-short-answer' style="display: none;" [hidden]="!this.isAvailable() || this._value['type'] !== 0">
  <div class="field">
    <label>Page</label>
    <textarea rows="2" name="page"></textarea>
  </div>
  <div class="field">
    <label>Answer key</label>
    <textarea rows="2" name="key"></textarea>
  </div>
</div>

<div class='q-option' id='q-filling-blank' style="display: none;" [hidden]="!this.isAvailable() || this._value['type'] !== 1">
  <div class="field">
    <label>Page</label>
    <textarea rows="2" name="page"></textarea>
  </div>
  <div class="field">
    <label>Full text</label>
    <textarea rows="2" name="key" placeholder="Enter the full text, then for any blank to fill, wrap around with '(((' and ')))' on each side."></textarea>
  </div>
</div>

<div class='q-option' id='q-multiple-choice' style="display: none;" [hidden]="!this.isAvailable() || this._value['type'] !== 2">
  <div class="field">
    <label>Page</label>
    <textarea rows="2" name="page"></textarea>
  </div>

  <div class="field" style="margin-bottom: 0;">
    <label>Choices</label>
  </div>

  <div id="mc-choices">
    <div class="field">
      <div class="ui labeled input">
        <div class="ui dropdown label">
          <input type="hidden" name="correctness" value="<i class=&quot;red remove icon&quot;></i>">
          <div class="text"><i class="red remove icon"></i></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><i class="green checkmark icon"></i></div>
            <div class="item"><i class="red remove icon"></i></div>
          </div>
        </div>
        <input type="text">
      </div>
    </div>
    <div class="field">
      <div class="ui labeled right action input">
        <div class="ui dropdown label">
          <input type="hidden" name="correctness" value="<i class=&quot;green checkmark icon&quot;></i>">
          <div class="text"><i class="green checkmark icon"></i></div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><i class="green checkmark icon"></i></div>
            <div class="item"><i class="red remove icon"></i></div>
          </div>
        </div>
        <input type="text">
        <div class="ui basic floating dropdown button" id="mc-choices-handle">
          <input type="hidden" name="action">
          <div class="text">Action</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Insert above</div>
            <div class="item">Remove</div>
            <div class="item">Move down</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field" [hidden]="!this.isAvailable()">
  <a class="ui yellow circular label" (click)="this.debug()">!</a>
</div>
