<div class="ui attached basic segment" style="background-color: #F8F8F8; padding-bottom: 0; border-top: none; border-left: none; border-right: none;">
  <div class="ui search">
    <div class="ui fluid icon input">
      <input type="text" placeholder="Search..." style="border-radius: 500rem;">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>

  <div class="ui secondary pointing fluid two item menu">
    <a class="active item">
      Collection
    </a>
    <a class="item">
      History
    </a>
  </div>

  <div class="ui icon secondary menu">
    <div class="right menu">
      <a class="item" id="collection-add">
        <i class="plus icon"></i>
      </a>
      <a class="item" id="collection-delete">
        <i class="trash outline icon"></i>
      </a>
    </div>
  </div>
</div>

<div class="ui attached basic segment" style="border-bottom: none; border-left: none; border-right: none;">
  <div class="ui large relaxed divided list" id="treelist">
  </div>
</div>
