<div class="ui large secondary vertical fluid inverted menu">
  <div class="item">
    <div class="header">
      <h1 class="ui blue inverted header" style="font-weight: 400; font-family: 'Allerta Stencil', sans-serif;">
        WALAT
        <div class="sub header">WAL Authoring Tool</div>
      </h1>
    </div>
    <div class="ui divider">

    </div>
    <div class="menu">
      <a class="item" href="/">Dashboard <i class="home icon"></i></a>
    </div>
  </div>
  <div class="item">
    <div class="header">Export</div>
    <div class="menu">
      <a class="item">WAL</a>
      <a class="item">ZIP</a>
      <a class="item">FTP...</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Explore</div>
    <div class="menu">
      <a class="item">Templates</a>
      <a class="item">Samples</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Help</div>
    <div class="menu">
      <a class="item">FAQs</a>
      <a class="item">Report bugs</a>
    </div>
  </div>
</div>
