<div class="ui big secondary vertical fluid inverted menu">
  <div class="item">
    <div class="header">Lesson</div>
    <div class="menu">
      <a class="item" href="/new">New</a>
      <a class="item" href="/editor">Edit</a>
      <a class="item" href="/library">Media</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Export</div>
    <div class="menu">
      <a class="item">WAL</a>
      <a class="item">ZIP</a>
      <a class="item">FTP...</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Explore</div>
    <div class="menu">
      <a class="item">Templates</a>
      <a class="item">Samples</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Help</div>
    <div class="menu">
      <a class="item">FAQs</a>
      <a class="item">Report bugs</a>
    </div>
  </div>
</div>
