<div class="ui basic segment" id="step-content-wrapper" [hidden]="this.service.editor.page.id <= 0">
  <wat-pedit-events-picker [hidden]="this.service.pages[this.service.editor.page.id] && this.service.pages[this.service.editor.page.id].script.length > 0">
  </wat-pedit-events-picker>

  <wat-script-editor></wat-script-editor>

  <div class="ui form" id="events-options">

    <wat-pedit-module-directions [value]="this.service.editor.line.data" (valueUpdate)="updateLine($event)"></wat-pedit-module-directions>

    <wat-pedit-module-hide [value]="this.service.editor.line.data" (valueUpdate)="updateLine($event)"></wat-pedit-module-hide>

    <wat-pedit-module-play [value]="this.service.editor.line.data" (valueUpdate)="updateLine($event)"></wat-pedit-module-play>

    <wat-pedit-module-qna [value]="this.service.editor.line.data" (valueUpdate)="updateLine($event)"></wat-pedit-module-qna>

    <wat-pedit-module-record [value]="this.service.editor.line.data" (valueUpdate)="updateLine($event)"></wat-pedit-module-record>

    <wat-pedit-module-text [value]="this.service.editor.line.data" (valueUpdate)="updateLine($event)"></wat-pedit-module-text>

    <wat-pedit-module-wait [value]="this.service.editor.line.data" (valueUpdate)="updateLine($event)"></wat-pedit-module-wait>

    <button class="ui primary button" (click)="this.save()" [ngClass]="this.service.pages[this.service.editor.page.id] && this.service.pages[this.service.editor.page.id].isSynced() ? 'disabled': null">Save</button>
    <button class="ui button" (click)="this.duplicate()" [ngClass]="this.service.pages[this.service.editor.page.id] && this.service.pages[this.service.editor.page.id].isSynced() ? 'disabled': null">Duplicate</button>
  </div>

</div>
