<div class="ui basic segment" id="flask-container">
  <div class="ui labels">
    <a class="ui orange tag label">wait</a>
    <a class="ui blue tag label">play</a>
    <a class="ui grey tag label">hide text</a>
    <a class="ui grey tag label">hide directions</a>
    <a class="ui grey tag label">hide comparison button</a>
    <a class="ui black tag label">show text</a>
    <a class="ui black tag label">show directions</a>
    <a class="ui orange tag label">pause</a>
    <a class="ui violet tag label">imagemap</a>
    <a class="ui red tag label">record</a>
    <a class="ui teal tag label">expect Q&amp;A submission</a>
  </div>
  <div id="flask-editor" style="min-height: 200px; width: 100%;">
  </div>
</div>
