<div class="ui modal" id="collection-create-modal">
  <div class="header">Create <span class="collection-action-type"></span></div>
  <div class="content">
    <form class="ui form" action="javascript:void(0)" id="collection-create-form">
      <div class="field">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name">
      </div>
      <div class="field">
        <div class="ui accordion">
          <div class="title">
            <i class="dropdown icon"></i> Advanced
          </div>
          <div class="content">
            <div class="field">
              <label>Canonical name</label>
              <input type="text" name="cname" placeholder="(Optional)">
            </div>
            <div class="field">
              <label>Description</label>
              <textarea name="description"></textarea>
            </div>
          </div>
        </div>
      </div>
      <button class="ui primary button" name="create">
        Create
      </button>
      <button class="ui button" name="cancel">
        Cancel
      </button>
    </form>
  </div>
</div>

<div class="ui modal" id="collection-delete-modal">
  <div class="header">Delete <span class="collection-action-type"></span></div>
  <div class="content">
    <form class="ui form" action="javascript:void(0)" id="collection-delete-form">
      <div class="field">
        <p>
          Deleting <span class="collection-action-type"></span> is irreversible. Enter below its name
          <span class="ui label name-check"></span> to confirm you want to permanently delete it:
        </p>
        <input type="text" name="name" placeholder="Name">
      </div>
      <button class="ui red button" name="delete">
        Delete
      </button>
      <button class="ui button" name="cancel">
        Cancel
      </button>
    </form>
  </div>
</div>

<div class="ui modal" id="collection-edit-modal">
  <div class="header">Edit exercise</div>
  <div class="content">
    <form class="ui form" action="javascript:void(0)" id="collection-edit-form">
      <div class="field">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name">
      </div>
      <div class="field">
        <div class="ui accordion">
          <div class="title">
            <i class="dropdown icon"></i> Advanced
          </div>
          <div class="content">
            <div class="field">
              <label>Canonical name</label>
              <input type="text" name="cname" placeholder="(Optional)">
            </div>
            <div class="field">
              <label>Description</label>
              <textarea name="description"></textarea>
            </div>
          </div>
        </div>
      </div>
      <button class="ui primary button" name="edit">
        Save
      </button>
      <button class="ui button" name="cancel">
        Cancel
      </button>
    </form>
  </div>
</div>
